<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<% if user_signed_in?  %>
    <body>
        <h3>Dashboard</h3>
        <div class="container_fluid">
            <div class="row-fluid">
              <div class="span3" style="background-color: #ffffff; border-radius: 10px; border: 1px; border-color: #cccccc;">
                <!-- 프로필 정보 -->
                <div class="well well-small">
                  <div class="container-fluid">
                    <table>
                      <tr>
                        <td style="width:48px;">
                          <img src="<%= current_user.img_url %>"
                               class="avatar" style="width:48px;">
                          <%#= 이미지 경로, 수정!  %>
                        </td>
                        <td style="padding-left:10px;">
                          <b style="font-size:14pt"><%= current_user.name %></b>
                          <hr style="margin:3px;">
                          <a href="<%= edit_user_registration_path %>"><small style="font-size:9pt; color:gray;">내 정보 수정</small></a>
                        </td>
                      </tr>
                    </table>

                  </div>
                </div>
                <div id="plan" class="well well-small">
                  진행중 플랜 <%= @plans.length %>개<br/>
                  완료된 플랜 3개<br/>
                  <table class="table">
                    <tr>
                      <td>
                        <%= image_tag("/assets/binder.png") %>
                      </td>
                      <td>
                        <%= image_tag("/assets/binder.png") %><br/>
                      </td>
                    </tr>
                  </table>
                  <form class="form-search">
                    <input type="text" class="input-medium search-query">
                    <button type="submit" class="btn">Search</button>
                  </form>
                </div>

                <div id="binder_ring">
                  <div class="binder_ring"> </div>
                  <br class="clear">
                </div>

              </div>
              <div class="span9">
                <div class="well well-small">
                    <div style="margin-left: 20px;">
                      <h3>Newsfeed</h3>
                    </div>
                    <div class="well well-small" style="margin-left: 20px;">
                      <div>
                        <table class="table">
                          <thead>
                          <tr>
                            <th style="width:74px;"></th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody id="article_list">
                           <% @articles.each do |a| %>
                              <tr id="<%= dom_id(a) %>">
                                <td style="vertical-align: top;">
                                  <img src="<%= a.user.avatar.url %>"
                                       style="width:64px; height:64px;" class="thumbnail">
                                </td>
                                <td style="padding-left:10px;">

                                  <span style="font-weight:bold; color:#8b4513;"><%= a.plan.try(:title) %></span>에
                                  <span style="font-weight:bold; color:blue;"><%= a.user.try(:name) || "Guest" %></span>님이
                                  <%= localize(a.updated_at, :format => :short) %>에 글을 남기셨습니다.

                                  <p style="margin-top:10px;">
                                    <%= a.content %>
                                  </p>

                                  <div id="comment_list_<%= dom_id(a)%>">
                                    <% a.comments.each do |c| %>
                                        <div style="padding-top:8px;" id="<%= dom_id(c) %>">
                                          <img src="<%= c.user.avatar.url %>" style="width:48px; float:left;" class="thumbnail">
                                          <div style="margin-left:65px;">
                                            <span style="color: #3B5998; font-weight: bold; font-size: 9pt;"><%= c.user.try(:name) %> </span>


                                            <pre style="margin-top:5px;"><%= c.content %></pre>
                                          </div>
                                        </div>

                                  <% end %>
                                  </div>
                                </td>
                              </tr>
                            <% end %>
                           </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </body>
<% else %>

    <center>
    <h3>Welcome Binding Planner</h3>
      <%= image_tag ("/assets/home.jpeg") %>
    </center>

<% end %>
</html>