<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="well well-small">
        <img src="<%= current_user.avatar.url %>" style="width:60px; float:left;" class="thumbnail">
        <div style="margin-left:80px; height:70px;">
          <i class="icon-remove pull-right"></i>
          <div style="font-weight: bold; color: #3B5998;"><%= current_user.name %></div>
          <div style="margin-top:15px;"><%= current_user.email %></div>
          <div style="color:gray;">2012-09-03 가입</div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well well-small">
        <img src="<%= current_user.avatar.url %>" style="width:60px; float:left;" class="thumbnail">
        <div style="margin-left:80px; height:70px;">
          <i class="icon-remove pull-right"></i>
          <div style="font-weight: bold; color: #3B5998;"><%= current_user.name %></div>
          <div style="margin-top:15px;"><%= current_user.email %></div>
          <div style="color:gray;">2012-09-03 가입</div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well well-small">
        <img src="<%= current_user.avatar.url %>" style="width:60px; float:left;" class="thumbnail">
        <div style="margin-left:80px; height:70px;">
          <i class="icon-remove pull-right"></i>
          <div style="font-weight: bold; color: #3B5998;"><%= current_user.name %></div>
          <div style="margin-top:15px;"><%= current_user.email %></div>
          <div style="color:gray;">2012-09-03 가입</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <div class="well well-small">
        <img src="<%= current_user.avatar.url %>" style="width:60px; float:left;" class="thumbnail">
        <div style="margin-left:80px; height:70px;">
          <i class="icon-remove pull-right"></i>
          <div style="font-weight: bold; color: #3B5998;"><%= current_user.name %></div>
          <div style="margin-top:15px;"><%= current_user.email %></div>
          <div style="color:gray;">2012-09-03 가입</div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well well-small">
        <img src="<%= current_user.avatar.url %>" style="width:60px; float:left;" class="thumbnail">
        <div style="margin-left:80px; height:70px;">
          <i class="icon-remove pull-right"></i>
          <div style="font-weight: bold; color: #3B5998;"><%= current_user.name %></div>
          <div style="margin-top:15px;"><%= current_user.email %></div>
          <div style="color:gray;">2012-09-03 가입</div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well well-small">
        <img src="<%= current_user.avatar.url %>" style="width:60px; float:left;" class="thumbnail">
        <div style="margin-left:80px; height:70px;">
          <i class="icon-remove pull-right"></i>
          <div style="font-weight: bold; color: #3B5998;"><%= current_user.name %></div>
          <div style="margin-top:15px;"><%= current_user.email %></div>
          <div style="color:gray;">2012-09-03 가입</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <div class="well well-small">
        <img src="<%= current_user.avatar.url %>" style="width:60px; float:left;" class="thumbnail">
        <div style="margin-left:80px; height:70px;">
          <i class="icon-remove pull-right"></i>
          <div style="font-weight: bold; color: #3B5998;"><%= current_user.name %></div>
          <div style="margin-top:15px;"><%= current_user.email %></div>
          <div style="color:gray;">2012-09-03 가입</div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well well-small">
        <img src="<%= current_user.avatar.url %>" style="width:60px; float:left;" class="thumbnail">
        <div style="margin-left:80px; height:70px;">
          <i class="icon-remove pull-right"></i>
          <div style="font-weight: bold; color: #3B5998;"><%= current_user.name %></div>
          <div style="margin-top:15px;"><%= current_user.email %></div>
          <div style="color:gray;">2012-09-03 가입</div>
        </div>
      </div>
    </div>

  </div>
</div>