<%= simple_form_for(@plan, :html => {:class => 'form-horizontal' }) do |f| %>
    <% if @plan.errors.any? %>
      <div id="error_explantion">
        <h2><%=  pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

        <ul>
          <% @plan.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
        <%= f.input :title %>
    </div>
    <div class="field">
        <%= f.input :description, :input_html => {:class => "input-xlarge"} %>
    </div>
    <div>
        <%=  f.label :public %><br />
        <%= f.select :public, [["공개",1], ["비공개",2]] %>
    </div>

    <div class="field">
      <%= f.label :cover_url %><br />
      <%= f.file_field :cover %>
    </div>

    <div class="form-actions">
        <%= f.button :submit, :class => "btn-primary" %>
    </div>
<% end %>