<h3>Plans Page</h3>

    <div class="table">
      <%= image_tag @plan.cover.url(:medium), class: "thumbnail" %>
      <h3><%= @plan.title %></h3>
      <%=  sanitize(@plan.description) %>
      <div class="price_line">
      <span class="price"><%= @plan.public %></span>
      <%= link_to "수정", edit_plan_path(@plan) %>
      <%= link_to "삭제", @plan, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %>
      <%= link_to "뒤로", plans_path %>
    </div>
</div>