<div class="container-fluid">
  <div class="row-fluid">
    <!-- Sidebar Side -->
    <div class="span3">

      <!-- 프로필 정보 -->
      <div class="well well-small">
        <div class="container-fluid">
          <table>
            <tr>
              <td style="width:48px;">
                <img src="http://www.playwares.com/xe/files/attach/images/763181/139/759/002/906645e9f243fd5cb76679b86c48a826.jpg"
                     class="avatar" style="width:48px;">
                <%#= 이미지 경로, 수정!  %>
              </td>
              <td style="padding-left:10px;">
                <b style="font-size:14pt">Tae Yeon</b>
                <hr style="margin:3px;">
                <small style="font-size:9pt; color:gray;">내 정보 수정</small>
              </td>
            </tr>
          </table>

        </div>
      </div>

      <!-- 참여 플랜 정보 -->
      <div class="well well-small">
        <div style="position: relative;">
          <!--<img src="http://pds22.egloos.com/pds/201204/05/91/d0135791_4f7d77c8a8a98.gif">-->
          <%= image_tag @plan.cover.url %>
          <div style="position:absolute; top:0px; width:99%; height:40px; background:black; opacity:0.4;"></div>
          <div style="position:absolute; top:0px; width:99%; height:20px; color:white; padding:10px 0px;">
            <span style="font-weight:bold;"><marquee><%= @plan.title %></marquee></span>
          </div>
        </div>
        <div style="margin:10px auto 0px; width:95%; color:gray;">
          <%= @plan.description %>
        </div>
      </div>

      <!-- 서브 카테고리 목록 -->
      <div class="well well-small">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>카테고리</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>0</td>
            <td><%= link_to "전체", "/plans/"+@plan.id.to_s %></td>
          </tr>

          <%  @plan.sub_categories.each.with_index do |sc,index| %>

              <tr>
                <td><%= index+1  %></td>
                <td><%= link_to sc.title, "/plans/"+@plan.id.to_s+"/sub_category/"+sc.id.to_s %></td>
              </tr>

          <% end %>

          </tbody>
        </table>
      </div>
    </div>

    <!-- Content Side -->
    <div class="span9">
      <div class="well well-small">
        <!-- 새글 -->
        <div>
            <%= render 'plans/article_form' %>


        </div>

        <div>
          <table class="table">
            <thead>
            <tr>
              <th style="width:74px;"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            <% @articles.each do |a|  %>

            <tr id="<%= dom_id(a) %>">
              <td style="vertical-align: top;">
                <img src="http://cdn.btdot.com/3353/4f02ba6463f16.jpg.tn.jpg"
                     style="width:64px; height:64px;" class="thumbnail">
              </td>
              <td style="padding-left:10px;">
                <span style="font-weight:bold; color:blue;"><%= a.user.try(:name) || "Guest" %></span>
                <%= link_to content_tag(:i,"", :class => "icon-remove pull-right"), article_path(a), confirm: "sure?", method: :delete,
                            remote: true %>
                <p style="margin-top:10px;">
                  <%= a.content %>
                </p>

                <div style="margin-bottom:10px;">댓글</div>
              </td>
            </tr>
            <% end  %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
