<%= link_to "Jae02", root_path, :class => 'brand' %>
<ul class="nav">
  <li>
    <%= link_to 'plan', plans_path %>
  </li>
</ul>
<ul class="nav pull-right">
  <% if user_signed_in? %>
      <div class="btn-group">
        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
          <%= current_user.name %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">

          <li>
            <%= link_to '내정보 수정', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to '로그아웃', destroy_user_session_path, :method=>'delete' %>
          </li>
        </ul>
      </div>
      <% if current_user.has_role? :admin %>
          <li>
            <%= link_to 'Admin', users_path %>
          </li>
      <% end %>
  <% else %>
      <li>
        <div class="btn-group">
              <span>
                <%= link_to '회원가입', new_user_registration_path, class:'btn' %>
              </span>
              <span>
               <%= link_to '로그인', new_user_session_path, class:'btn btn-info', style:'color:white;' %>
              </span>
        </div>
      </li>
  <% end %>
</ul>